
  <mat-tab-group>

    <mat-tab label="Client Managment">
      <div class="login-body">

        <div class="card card-container">
      <form

        name="clientform"
        (ngSubmit)="f.form.valid && addClient() "
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="name">Client Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="clientform.name"
            required
            #name="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name.errors && f.submitted"
          >
            name is required!
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="mp">
    <mat-form-field appearance="standard">
      <mat-label>search for client</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex." #input>
  </mat-form-field>

  <table mat-table [dataSource]="clients" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef> client name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


     <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef >delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" matTooltip="delete client">
        <mat-icon aria-label="Delete user">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> edit</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" matTooltip="edit client">
        <mat-icon aria-label="Update user">edit</mat-icon>
      </button>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

    </div>

    </mat-tab>
    <mat-tab label="Project Managment">
      <div class="login-body">
        <div class="card card-container">
        <form

        name="projectform"
        (ngSubmit)="fo.form.valid && addProject() "
        #fo="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="client" class="form-label">Client</label>
      <select class="form-select" id="sel1" name="client" [ngModel]="selectedClient"
      (ngModelChange)="onChange($event)">
        <option *ngFor="let client of _clients" [value]="client.id">{{client.name}}</option>


      </select>


    </div>
        <div class="form-group">
          <label for="name">Project Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="projectform.name"

            #name="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name.errors && fo.submitted"
          >

          </div>
        </div>
        <div class="form-group">
          <label for="start_date">start date</label>
          <input
            type="text"
            class="form-control"
            name="start_date"
            [(ngModel)]="projectform.startDate"

            #start_date="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="start_date.errors && fo.submitted"
          >

          </div>
        </div>
        <div class="form-group">
          <label for="name">end date</label>
          <input
            type="text"
            class="form-control"
            name="end_date"
            [(ngModel)]="projectform.endDate"

            #end_date="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="end_date.errors && fo.submitted"

          >

          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Add
          </button>
        </div>
      </form>
        </div>
      </div>

      <div class="mp">
        <mat-form-field appearance="standard">
          <mat-label>search for project</mat-label>
        <input matInput (keyup)="applyFilterForProject($event)" placeholder="project name" #input>
      </mat-form-field>

      <table mat-table [dataSource]="projects" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element" >{{element.id}}</td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef> client name </th>
          <td mat-cell *matCellDef="let element" >{{element.client[0]?.name}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="project_name">
          <th mat-header-cell *matHeaderCellDef> project name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef> start date </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef> end date </th>
          <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
        </ng-container>


         <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef >delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" matTooltip="delete project">
            <mat-icon aria-label="Delete user">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" matTooltip="edit project">
            <mat-icon aria-label="Update user">edit</mat-icon>
          </button>
        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No project find with name"{{input.value}}"</td>
        </tr>
      </table>

        </div>

    </mat-tab>
    <mat-tab label="Activity Managment">
       <div class="login-body">
        <div class="card card-container">
        <form

        name="activityform"
        (ngSubmit)="for.form.valid && addActivity() "
        #for="ngForm"
        novalidate
      >
      <div class="form-group">
        <label for="client" class="form-label">Project</label>
      <select class="form-select" id="sel1" name="project" [ngModel]="selectedProject"
      (ngModelChange)="onChangeActivity($event)">
        <option *ngFor="let project of _projects" [value]="project.id">{{project.name}}</option>


      </select>


    </div>
        <div class="form-group">
          <label for="shortName">Activity Name</label>
          <input
            type="text"
            class="form-control"
            name="shortName"
            [(ngModel)]="activityform.shortName"
            required
            #name="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name.errors && fo.submitted"
          >

          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Add
          </button>
        </div>
      </form>
        </div>
      </div>
<!-- ******* -->
      <div class="mp">
        <mat-form-field appearance="standard">
          <mat-label>search for activity</mat-label>
        <input matInput (keyup)="applyFilterForActivity($event)" placeholder="activity name" #input>
      </mat-form-field>

      <table mat-table [dataSource]="activities" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element" >{{element.id}}</td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="project">
          <th mat-header-cell *matHeaderCellDef> project name </th>
          <td mat-cell *matCellDef="let element" >{{element.projects[0]?.name}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="activity">
          <th mat-header-cell *matHeaderCellDef> activity name </th>
          <td mat-cell *matCellDef="let element"> {{element.shortName}} </td>
        </ng-container>


         <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef >delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" matTooltip="delete project">
            <mat-icon aria-label="Delete user">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> edit</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" matTooltip="edit project">
            <mat-icon aria-label="Update user">edit</mat-icon>
          </button>
        </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No Activity find with name"{{input.value}}"</td>
        </tr>
      </table>
      </div>

      <!-- <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
              <h2 class="heading-section">Activities Table </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Activity ID</th>
                      <th>Project </th>

                       <th>Activity Name</th>
                      <th>Action</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let activity of activities">
                      <th scope="row" >{{activity.id}}</th>
                      <td *ngIf=" activity.projects[0] == undefined "></td>
                      <td *ngIf=" activity.projects[0] != undefined ">{{activity.projects[0].name}}</td>

                      <td>{{activity.shortName}}</td>
                      <td><a href="#" class="btn btn-success">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                      </td>

                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section> -->
     </mat-tab>
  </mat-tab-group>

