<div class="b"  >
    <div class="col-md-5">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">AxeFinance</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link " routerLinkActive="active" [routerLink]="['add']" aria-current="page">

            Add new TimeSheet
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link"  routerLinkActive="active" [routerLink]="['show']"aria-current="page">

            Affiche TimeSheet
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['approve']" class="nav-link link-dark"  routerLinkActive="active">

            Approved page
          </a>
        </li>
      </ul>
    </div>

  </div>
